@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 544px)  {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    @media (max-width: 544px)  {
      align-items: center;
    }

    img {
      margin-right: 15px;
      @media (max-width: 544px)  {
        margin-right: 5px;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 544px)  {
        font-size: 18px;
      }
    }

    p {
      color: #7b7b7b;
      @media (max-width: 544px) {
        display: none;
      }
    }
  }
}
